In [3]:
#1.Crear una lista con los cuadrados de los numeros del 1 al 10.
cuadrados = []
for i in range(1, 11):
    cuadrados.append(i**2)
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
#2.Obtener una lista con los numeros pares del 0 al 20.
NumerosPares = [i for i in range(1,21) if i%2 ==0]
NumerosPares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
#3.Crear una lista con el doble de cada numero delo 1 al 5.
NumerosDobles = [i * 2 for i in range(1,6)]
NumerosDobles

[2, 4, 6, 8, 10]

In [6]:
#4.De la palabra "programacion", obtener solo las vocales.
palabra = "programacion"
vocales = [letra for letra in palabra if letra in "a,e,i,o,u"]
vocales

['o', 'a', 'a', 'i', 'o']

In [7]:
#5.Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayusculas.
Programas = ["python", "java", "c++"]
Mayusculas = [i.upper() for i in Programas]
Mayusculas

['PYTHON', 'JAVA', 'C++']

In [1]:
#6.Crear una lista con "par" o "impar" para los numeros del 1 al 10.
ListaNumeros = [1,2,3,4,5,6,7,8,9,10]
clasificacion = [("par",x) if x%2==0 else ("impar",x) for x in ListaNumeros]
clasificacion

[('impar', 1),
 ('par', 2),
 ('impar', 3),
 ('par', 4),
 ('impar', 5),
 ('par', 6),
 ('impar', 7),
 ('par', 8),
 ('impar', 9),
 ('par', 10)]

In [3]:
#7.Generar una lista de tuplas con el numero y su cuadrado del 1 al 5.
ListaNumeros =[1,2,3,4,5]
NumerosCuadrados = [(x, "su cuadrado es", x**2) for x in ListaNumeros]
NumerosCuadrados

[(1, 'su cuadrado es', 1),
 (2, 'su cuadrado es', 4),
 (3, 'su cuadrado es', 9),
 (4, 'su cuadrado es', 16),
 (5, 'su cuadrado es', 25)]

In [4]:
#8.Crear una lista con todas las combinaciones de letras en ["a","b"] y numeros en [1,2,3]
Letras = ["a","b"]
Numeros = [1,2,3]
Combinados = [(letra,Numero) for letra in Letras for Numero in Numeros]
Combinados

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [10]:
#9.De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con mas de 4 letras.
palabras =["sol", "estrella", "mar", "planeta"]
filtro = [i for i in palabras if len(i)<4]
filtro

['sol', 'mar']